@import "variables";


/* Correcciones de bootstrap */
/* Pantalla que ocultaba los modals */
.modal-backdrop.show {
    opacity: var(--bs-backdrop-opacity);
    z-index: -1;
}

/* Modal en Productos - Bootstrap*/
.modal-content {
    position: relative;
    display: flex;
    transform: translate(0, +50%);
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}

.btn-primary {
    --bs-btn-color: #e48e15;
    --bs-btn-bg: black;
    --bs-btn-border-color: black;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #e48e15;
    --bs-btn-hover-border-color: #e48e15;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #e48e15;
    --bs-btn-active-bg: black;
    --bs-btn-active-border-color: black;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

/* Sobre nosotros - Grid */

.contenedornosotros {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    column-gap: 20px;
    padding: 20px;
    background-color: transparent;
    align-items: start;

}

.text-nosotros {
    font-style: italic;
    font-family: $rgFont;
    color: $titleColor;
    font-size: 20px;
}

.contenedornosotros>div {
    text-align: justify;
    padding: 0 10px;
}

.img-logo-nosotros {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.item3nos {
    grid-column: 1 / span 2;
}

/* Media query */
/* Sobre nosotros */
@media (max-width: 768px) {
    .contenedornosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
        gap: 5px;
    }

    .contenedornosotros>div {
        padding: 0;
        text-align: justify;
    }

    .img-logo-nosotros {
        max-height: 150px;
    }

    .text-nosotros {
        font-size: 14px;
        text-align: center;
    }

    .item3nos {
        grid-column: auto;
        width: 100%;
    }
}